---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <section>
    <h1 style="color: black;">🚀 Welcome to SMBCyberHub</h1>
    <p>This content is rendered inside the layout.</p>
  </section>
</Layout>
